/* ------------------- */
/* Spinner Animation               */
/* ------------------- */
@keyframes firstBoxAnim {
  15% {
    transform: translate(50%, -50%) scale(1.5); }
  30% {
    transform: translate(50%, 50%) scale(1.5); }
  45% {
    transform: translate(-50%, 50%) scale(1.5) rotate(180deg); }
  60% {
    transform: translate(-50%, -50%) scale(1.5) rotate(180deg); }
  75% {
    transform: translate(-25%, -25%) scale(1) rotate(180deg); }
  90% {
    transform: translate(25%, -25%) scale(1) rotate(360deg); }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg); } }

@keyframes secondBoxAnim {
  15% {
    transform: translate(-50%, 50%) scale(1.5); }
  30% {
    transform: translate(-50%, -50%) scale(1.5); }
  45% {
    transform: translate(50%, -50%) scale(1.5) rotate(180deg); }
  60% {
    transform: translate(50%, 50%) scale(1.5) rotate(180deg); }
  75% {
    transform: translate(25%, 25%) scale(1) rotate(180deg); }
  90% {
    transform: translate(-25%, 25%) scale(1) rotate(360deg); }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg); } }

/* ------------------- */
/* Stagger-Square Animation               */
/* ------------------- */
@keyframes makeItSmall {
  from,
  to {
    transform: none; }
  25% {
    transform: scale(0.1); } }

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; }

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  background: #1d1d1d;
  font-family: sans-serif; }

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block; }

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit; }

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

.title {
  color: #e6e6e6;
  width: 20rem;
  text-align: center;
  border-bottom: 1px solid #8d8d8d; }

.spinner__box--1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: radial-gradient(rgba(69, 190, 211, 0.733), rgba(69, 190, 211, 0.999));
  animation: firstBoxAnim 2.5s infinite; }

.spinner__box--2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: radial-gradient(rgba(69, 190, 211, 0.733), rgba(69, 190, 211, 0.999));
  animation: secondBoxAnim 2.5s infinite; }

.stagger-grid {
  width: 350px;
  height: 125px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  .stagger-grid__square {
    --duration: 2s;
    --stagger: 1.8s;
    --interval: calc(var(--duration) - var(--stagger));
    background-color: #00d672;
    animation: makeItSmall var(--duration) calc(var(--interval) * var(--i)) ease-in-out infinite; }

.section {
  width: 100vw;
  height: 20vh;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; }
  .section__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
