/* ------------------- */
/* Spinner Animation               */
/* ------------------- */
@keyframes firstBoxAnim {
  15% {
    transform: translate(50%, -50%) scale(1.5); }
  30% {
    transform: translate(50%, 50%) scale(1.5); }
  45% {
    transform: translate(-50%, 50%) scale(1.5) rotate(180deg); }
  60% {
    transform: translate(-50%, -50%) scale(1.5) rotate(180deg); }
  75% {
    transform: translate(-25%, -25%) scale(1) rotate(180deg); }
  90% {
    transform: translate(25%, -25%) scale(1) rotate(360deg); }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg); } }

@keyframes secondBoxAnim {
  15% {
    transform: translate(-50%, 50%) scale(1.5); }
  30% {
    transform: translate(-50%, -50%) scale(1.5); }
  45% {
    transform: translate(50%, -50%) scale(1.5) rotate(180deg); }
  60% {
    transform: translate(50%, 50%) scale(1.5) rotate(180deg); }
  75% {
    transform: translate(25%, 25%) scale(1) rotate(180deg); }
  90% {
    transform: translate(-25%, 25%) scale(1) rotate(360deg); }
  100% {
    transform: translate(0, 0) scale(1) rotate(360deg); } }

/* ------------------- */
/* Stagger-Square Animation               */
/* ------------------- */
@keyframes makeItSmall {
  from,
  to {
    transform: none; }
  25% {
    transform: scale(0.1); } }

/* ------------------- */
/* Stagger-Square Animation               */
/* ------------------- */
@keyframes squareToBall {
  to {
    transform: translateX(8rem);
    border-radius: 50%;
    background-color: var(--color-blue); } }

/* ------------------- */
/* Moon Animation               */
/* ------------------- */
@keyframes sun {
  from {
    transform: none; }
  to {
    transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)); } }

@keyframes sunReverse {
  to {
    transform: none; } }

@keyframes moon {
  to {
    opacity: 1; } }

@keyframes moonScale {
  to {
    transform: none; } }

@keyframes moonScaleReverse {
  to {
    transform: scale(0.8); } }

/* ------------------- */
/* Reset               */
/* ------------------- */
/* https://piccalil.li/blog/a-modern-css-reset/ */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0; }

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
  background: #1d1d1d;
  font-family: sans-serif; }

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block; }

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit; }

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

:root {
  --color-green: hsl(152, 100%, 42%);
  --color-blue: hsla(189, 62%, 55%, 0.733);
  --color-grey: hsl(0, 0%, 60%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%); }

.title {
  color: #e6e6e6;
  width: 20rem;
  text-align: center;
  border-bottom: 1px solid #8d8d8d; }

span {
  color: #e6e6e6; }

.spinner__box--1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: radial-gradient(rgba(69, 190, 211, 0.733), rgba(69, 190, 211, 0.999));
  animation: firstBoxAnim 2.5s infinite; }

.spinner__box--2 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: radial-gradient(rgba(69, 190, 211, 0.733), rgba(69, 190, 211, 0.999));
  animation: secondBoxAnim 2.5s infinite; }

.square {
  transform: translateX(-8rem);
  width: 4rem;
  height: 4rem;
  background-color: var(--color-green);
  animation: squareToBall 1.2s both; }

.stagger-grid {
  width: 350px;
  height: 125px;
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, 1fr); }
  .stagger-grid__square {
    --duration: 2s;
    --stagger: 1.8s;
    --interval: calc(var(--duration) - var(--stagger));
    background-color: #00d672;
    animation: makeItSmall var(--duration) calc(var(--interval) * var(--i)) ease-in-out infinite; }

.state {
  background-color: var(--color-white);
  border-radius: 5px;
  width: 80%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .state[data-state="dark"] {
    background-color: var(--color-black); }
    .state[data-state="dark"] .state__switch--circle {
      animation: sun 1s forwards; }
    .state[data-state="dark"] .state__switch {
      animation: moonScaleReverse 1s forwards; }
  .state[data-state="light"] {
    background-color: var(--color-white); }
    .state[data-state="light"] .state__switch--circle {
      animation: sunReverse 1s forwards; }
    .state[data-state="light"] .state__switch {
      animation: moonScale 1s forwards; }
      .state[data-state="light"] .state__switch::after {
        animation: moon forwards;
        animation-delay: 0.8s; }
  .state__switch {
    cursor: pointer;
    grid-column: 2 / 3;
    justify-self: end;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-grey);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1.5); }
    .state__switch::after {
      content: "";
      display: block;
      opacity: 0;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      transform: translate(4px, -2px);
      background-color: var(--color-white); }
    .state__switch--circle {
      pointer-events: none;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--color-grey);
      transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)); }

.main {
  display: grid;
  grid-template-rows: repeat(3, 35vh) 500px;
  gap: 10px; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; }
  .section__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; }
