.state {
  --transition-delay: 0.3s;
  background-color: var(--color-white);
  border-radius: 5px;
  width: 80%;
  height: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  transition: background-color var(--transition-delay);

  &[data-state="dark"] {
    background-color: var(--color-black);

    .state__switch--circle {
      animation: sun 1s forwards;
    }

    .state__switch {
      animation: moonScaleReverse 1s forwards;
    }
  }

  &[data-state="light"] {
    background-color: var(--color-white);

    .state__switch--circle {
      animation: sunReverse 1s forwards;
    }

    .state__switch {
      animation: moonScale 1s forwards;

      &::after {
        animation: moon 1s forwards;
        animation-delay: var(--transition-delay);
      }
    }
  }

  &__switch {
    cursor: pointer;
    grid-column: 2 / 3;
    justify-self: end;
    margin-top: 1.7rem;
    margin-right: 1.7rem;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--color-grey);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      pointer-events: none;
      display: block;
      opacity: 0;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      transform: translate(15px, -2px);
      background-color: var(--color-white);
    }

    &--circle {
      pointer-events: none;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--color-grey);
      transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
    }
  }
}
